.title-section {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #101B38;
        border-bottom: 5px solid #D83728;
        text-align: center;
        color: white
}